

.sider-container {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    flex: 0 0 215px;
    width: 215px;
    
}

.sider-container ul {
    list-style: none;
    width: 100%;
    height: calc(100vh - 215px - 150px);
    background-color: white;
    padding: 0 0 0 0;


}